#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 10**
###**Reducción de Dimensionalidad - Descomposición en Valores Singulares (SVD) y Sistemas de Recomendación**

**Nombres y matrículas de los integrantes del equipo:**

*   Elber Aguilar Pérez - A01793568
*   José Francisco Muñoz Del Angel - A01794174
*   Daniel Roberto Meneses Leon - A01794274
*   
*

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [190]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.decomposition import TruncatedSVD

#**Ejercicio-1.**

In [191]:
ratings_url="https://raw.githubusercontent.com/PosgradoMNA/IAAEquipo59/main/rating_final.csv?token=GHSAT0AAAAAABW3GV3I5XETEVXZID5CG3D2Y34FGOQ"
geoplaces_url="https://raw.githubusercontent.com/PosgradoMNA/IAAEquipo59/main/geoplaces2.csv?token=GHSAT0AAAAAABW3GV3I5XETEVXZID5CG3D2Y34FGOQ"
df_ratings = pd.read_csv(ratings_url, usecols = ["userID", "placeID", "rating"], encoding="latin-1")
df_geoplaces = pd.read_csv(geoplaces_url, usecols = ["placeID", "name"], encoding="latin-1")
print('ratings: ', df_ratings.shape)
df_ratings.head()

ratings:  (1161, 3)

  userID  placeID  rating
0  U1077   135085       2
1  U1077   135038       2
2  U1077   132825       2
3  U1077   135060       1
4  U1068   135104       1

In [192]:
print('geoplaces: ', df_geoplaces.shape)
df_geoplaces.head()

geoplaces:  (130, 2)

   placeID                            name
0   134999                 Kiku Cuernavaca
1   132825                 puesto de tacos
2   135106      El Rincón de San Francisco
3   132667  little pizza Emilio Portes Gil
4   132613                   carnitas_mata

In [193]:
# merge df_geoplaces into df_ratings using the placeID in order to obtain the name
# df = pd.DataFrame()
# df['users'] = df_ratings[['userID']]
# df['place_id'] = df_ratings[['placeID']]
# df['names'] = df_geoplaces.merge(df_ratings, on='placeID')[['name']]
# df['food_rating'] = df_ratings[['food_rating']]
df = pd.merge(df_ratings, df_geoplaces, on = "placeID")
print(df.shape)

df.head()

(1161, 4)

  userID  placeID  rating                    name
0  U1077   135085       2  Tortas Locas Hipocampo
1  U1108   135085       1  Tortas Locas Hipocampo
2  U1081   135085       1  Tortas Locas Hipocampo
3  U1056   135085       2  Tortas Locas Hipocampo
4  U1134   135085       2  Tortas Locas Hipocampo

#**Ejercicio-2.**

In [194]:
# getting utility matrix using SVD 
UtMx = df.pivot_table(index='userID', columns='name', values='rating', fill_value=0)
#validating Nan values
# UtMx.isnull().sum().sum()
UtMx.head(10)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [195]:
UtMx.shape

(138, 129)

In [196]:
X=UtMx.T
X.shape

(129, 138)

In [197]:
# SVD
SVD = TruncatedSVD(n_components=137, random_state=7)
result = SVD.fit_transform(X)
result.shape

(129, 129)

In [198]:
# saving results into a dataframe
componentes = pd.DataFrame(result, index=X.index)
componentes.head(10)

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
name,,,,,,,,,,,,,,,,,,,,,
Abondance Restaurante Bar,2.231529e-01,-3.351484e-01,9.257169e-01,2.995820e-16,7.654577e-02,7.727232e-01,4.291144e-01,-4.259264e-01,1.299450e-01,8.697081e-02,...,1.008957e-18,-6.397881e-03,1.128958e-02,-2.660192e-02,-1.448532e-18,-5.726135e-03,-6.505213e-19,7.947495e-03,4.303628e-16,1.109336e-31
Arrachela Grill,-8.001742e-18,-2.244171e-17,1.323026e-16,1.188052e-01,-2.593283e-15,-6.122711e-16,3.423801e-16,-4.722038e-17,4.271307e-16,-1.072855e-16,...,4.424002e-16,-6.470296e-16,-9.457436e-16,1.569894e-16,-1.700456e-02,4.449824e-16,-1.255221e-16,-8.762430e-16,2.503351e-17,-3.981282e-30
Cabana Huasteca,3.049484e+00,2.564812e+00,-4.808937e-01,2.463533e-14,1.033046e+00,1.388744e+00,4.667691e-01,8.666118e-01,5.738046e-01,-1.522726e+00,...,-4.049402e-17,4.901633e-02,9.998401e-03,-1.765735e-02,-1.537212e-16,-6.973005e-03,-3.556183e-17,-2.015013e-03,-4.023650e-16,-5.614471e-30
Cafe Chaires,1.233608e+00,1.646569e+00,6.684932e-01,-3.457561e-14,-1.581105e+00,2.951126e-01,-2.725471e-01,5.710053e-01,2.521169e-01,1.208266e+00,...,8.185802e-17,2.046310e-02,-3.889850e-02,2.586656e-02,-3.615420e-16,-1.154981e-02,1.100465e-17,1.052110e-02,6.570969e-16,-1.522255e-30
Cafeteria cenidet,-6.335079e-17,-6.207628e-16,1.686773e-15,9.032935e-01,-2.084422e-14,-2.398039e-15,6.236465e-16,3.849474e-16,-4.454000e-16,1.432794e-15,...,-4.605806e-16,4.326402e-16,1.642904e-16,-4.199490e-16,1.244610e-02,-1.967408e-16,-1.631015e-16,-3.448149e-16,-1.961889e-16,-1.011961e-29
Cafeteria y Restaurant El Pacifico,4.370779e+00,-3.125994e+00,2.078290e+00,-3.845999e-14,-1.188305e+00,-5.183410e-01,3.803262e-01,2.064875e+00,-4.445472e-01,2.407878e-01,...,5.457595e-17,3.286131e-04,2.654188e-03,9.432424e-03,1.433513e-16,5.809620e-03,2.059984e-17,1.662516e-03,5.720647e-17,-4.868751e-30
Carls Jr,8.061034e-01,1.064833e+00,8.995174e-01,-1.216320e-14,-2.875079e-01,-1.670696e+00,9.933775e-02,-4.363860e-01,2.133681e-01,-2.543727e-01,...,2.208917e-16,-3.148481e-02,-2.038360e-02,-1.107087e-02,2.374608e-16,-2.103277e-03,-2.069471e-17,-2.675221e-03,1.832538e-16,-6.908696e-30
Carnitas Mata Calle 16 de Septiembre,1.887034e-17,8.229256e-17,2.391069e-17,8.129627e-18,-9.731579e-17,-3.178021e-17,-1.480507e-16,-3.084905e-17,1.881307e-16,-1.218486e-16,...,9.430589e-02,7.152830e-16,1.132038e-16,4.508047e-16,-9.095662e-17,1.153808e-16,3.257372e-03,-2.622143e-16,2.656540e-16,-2.443620e-30
Carreton de Flautas y Migadas,2.325878e-16,4.408512e-17,5.426636e-16,1.596299e-16,-6.273974e-16,1.919543e-16,-4.494871e-16,-6.466965e-16,2.005694e-15,-1.501999e-15,...,3.241566e-03,9.219862e-17,9.545796e-17,-1.129878e-15,3.454509e-16,-2.550589e-16,-2.545870e-03,-7.541710e-16,1.889168e-16,9.372057e-31
Cenaduria El RincÃ³n de Tlaquepaque,4.280239e-02,-8.279257e-02,4.381380e-01,-5.036459e-15,-1.749965e-01,4.048219e-01,6.431516e-01,-3.435401e-01,1.458466e-01,-2.866280e-01,...,2.252533e-16,-3.782371e-02,-5.123229e-03,-2.626066e-03,6.776560e-16,1.848321e-02,7.415943e-17,1.032700e-02,1.491444e-15,3.475918e-30

In [199]:
# singular values
#result = SVD.singular_values_
print(result)

# check if results contains NaN values
componentes.isnull().sum().sum()

[[ 2.23152914e-01 -3.35148397e-01  9.25716874e-01 ...  7.94749489e-03
   4.30362805e-16  1.10933565e-31]
 [-8.00174232e-18 -2.24417122e-17  1.32302559e-16 ... -8.76242984e-16
   2.50335111e-17 -3.98128238e-30]
 [ 3.04948374e+00  2.56481245e+00 -4.80893676e-01 ... -2.01501322e-03
  -4.02364995e-16 -5.61447097e-30]
 ...
 [ 8.68871858e-01  1.45545704e+00  1.81260610e+00 ...  3.94017886e-03
  -5.37848865e-17 -3.45126646e-30]
 [ 4.58257283e-17  1.06924839e-16  1.29572849e-16 ... -5.59448321e-16
   2.82677267e-16 -9.26911564e-30]
 [ 1.44638913e-16 -1.22312019e-16  4.88831057e-16 ...  6.66567496e-16
  -2.33525786e-16 -1.25227335e-29]]

0

#**Ejercicio-3.**

In [200]:
# Pearon correlation
corr = np.corrcoef(componentes)
print(corr.shape)

# check if corr contains NaN values
np.isnan(corr).any()

(129, 129)

False

In [201]:
# getting the top 10 best recommendations for subway place
names_restaurants = UtMx.columns
names_restaurants_list = list(names_restaurants)
subway = names_restaurants_list.index('Subway')
subway

88

Obteniendo los valores de  correlacion de Subway y los 10 restaurantes mas relacionados.

In [202]:
# getting the correlation values for subway
corr_subway = corr[subway]
# corr_subway.dropna(inplace=True)
corr_subway.shape

# getting the correlation values for subway and filtering nan values
corr_list = list(names_restaurants[(corr_subway<1.0)])
corr_list_values=list()
# printing the top 10 restaurants correlation values for subway and the other restaurants
for i in corr_subway.argsort()[::-1][:11]:
    if i == subway:
        continue
    print('  %s' % names_restaurants_list[i], ' - ', corr_subway[i])

  Restaurant Teely  -  0.6095208746935303
  Vips  -  0.5062776799761075
  Rincon del Bife  -  0.42982383085591547
  Restaurant and Bar and Clothesline Carlos N Charlies  -  0.4254671689089219
  Sanborns Casa Piedra  -  0.4172185013479357
  Mariscos Tia Licha  -  0.38817800185257806
  Chilis Cuernavaca  -  0.3010904910449623
  Mikasa  -  0.30100247854976303
  Restaurant los Pinos  -  0.28514921973296736
  Log Yin  -  0.23463429773399364

#**Ejercicio-4.**

Disminuye ahora la dimensión de la factorización con un número de componentes tal, que las
recomendaciones con esta menor cantidad de información coincidan en al menos 9 de las 10
recomendaciones dadas con todos los valores singulares. Indica la cantidad de valores singulares
encontrado y la cantidad de información que contienen.

In [203]:
# lower correlation values
for i in corr_subway.argsort()[:10]:
    if i == subway:
        continue
    print('  %s' % names_restaurants_list[i], ' - ', corr_subway[i])

  la Cochinita Pibil Restaurante Yucateco  -  -0.008600775897593336
  Restaurant Wu Zhuo Yi  -  -0.006433640642641582
  El angel Restaurante  -  -0.006204451335028414
  Restaurante El Chivero S.A. de C.V.  -  -0.006059929419398664
  Restaurante Bar El Gallinero  -  -0.005613753679960684
  Gorditas Dona Tota  -  -0.005488011412444842
  Carnitas Mata  Calle 16 de Septiembre  -  -0.005293471448207875
  Cabana Huasteca  -  -0.00527330974962166
  Pollo_Frito_Buenos_Aires  -  -0.004744805963524834
  La Virreina  -  -0.004518374005913023

#**Ejercicio-5.**

In [204]:
# getting the top 10 best recommendations for 'Tacos de barbacoa enfrente del Tec' place
names_restaurants = UtMx.columns
names_restaurants_list = list(names_restaurants)
# print(names_restaurants_list.dtype)
possible = filter(lambda x: 'Tec' in x, names_restaurants_list)
for i in possible:
    print(i)
tacos_tec = names_restaurants_list.index('tacos de barbacoa enfrente del Tec')
tacos_tec

tacos de barbacoa enfrente del Tec

124

In [205]:
# getting the correlation values for subway
corr_tacos = corr[tacos_tec]
corr_tacos.shape

# printing the top 10 restaurants correlation values for subway and the other restaurants
for i in corr_tacos.argsort()[::-1][:11]:
    if i == subway:
        continue
    print('  %s' % names_restaurants_list[i], ' - ', corr_tacos[i])

  tacos de barbacoa enfrente del Tec  -  0.9999999999999998
  vips  -  0.8171889849105267
  tacos abi  -  0.6653053654632697
  little pizza Emilio Portes Gil  -  0.6538492684416526
  Taqueria EL amigo   -  0.43718420842635525
  puesto de gorditas  -  0.4127645231848389
  Carreton de Flautas y Migadas  -  0.40779492018129415
  Little Cesarz  -  0.2584793854262742
  palomo tec  -  0.19517408801078806
  Hamburguesas La perica  -  0.19112045068235362
  carnitas mata calle Emilio Portes Gil  -  0.17093947240846638

#**Ejercicio-6.**

Repite los ejercicios 1 a 4 generando ahora la matriz de utilidad en la cual los renglones son los 
usuarios (user_ID), las columnas los nombres de los restaurantes (name) y las entradas la 
evaluación dada a la comida (food_rating). Incluye tus conclusiones

In [206]:
UtMx = df.pivot_table(index='users', columns='names', values='food_rating', fill_value=0)
# UtMx = df.pivot_table(index='users', columns='names', values='food_rating', fill_value=0)
#validating Nan values
# UtMx.isnull().sum().sum()
# UtMx.head(10)

KeyError: 'food_rating'

#**Ejercicio-7.**

In [ ]:
None

#**Ejercicio-8.**

In [ ]:
None

###**Fin de la Actividad de la semana 10 - Sistemas de Recomendación y Reducción de Dimensionalidad con SVD.**