#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 10**
###**Reducción de Dimensionalidad - Descomposición en Valores Singulares (SVD) y Sistemas de Recomendación**

**Nombres y matrículas de los integrantes del equipo:**

*   
*   
*   
*   
*

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [43]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import numpy as np
import pandas as pd

from sklearn.decomposition import TruncatedSVD

#**Ejercicio-1.**

In [44]:
# Importamos el dataset y nos quedamos con las columnas que nos interesan para el análisis de la actividad.
usuario_rating = pd.read_csv("rating_final.csv", usecols = ["userID", "placeID", "rating"])
print(usuario_rating.shape)

(1161, 3)

In [45]:
# Imprimimos la forma del dataset y las primeras 10 filas para ver cómo se ve el dataset.
print(usuario_rating.shape)
usuario_rating.head(10)

(1161, 3)

  userID  placeID  rating
0  U1077   135085       2
1  U1077   135038       2
2  U1077   132825       2
3  U1077   135060       1
4  U1068   135104       1
5  U1068   132740       0
6  U1068   132663       1
7  U1068   132732       0
8  U1068   132630       1
9  U1067   132584       2

In [46]:
#cambaimos el valor de la columna userID por un valor numerico consecutivo
usuario_rating['userID'] = usuario_rating['userID'].astype('category')
usuario_rating['userID'] = usuario_rating['userID'].cat.codes
usuario_rating.head(50)

    userID  placeID  rating
0       76   135085       2
1       76   135038       2
2       76   132825       2
3       76   135060       1
4       67   135104       1
5       67   132740       0
6       67   132663       1
7       67   132732       0
8       67   132630       1
9       66   132584       2
10      66   132733       1
11      66   132732       1
12      66   132630       1
13      66   135104       0
14      66   132560       1
15     102   132584       1
16     102   132732       0
17     102   132630       1
18     102   132613       2
19     102   132667       1
20     102   135104       1
21     102   132663       1
22     102   132733       2
23     106   132660       2
24     106   132584       2
25     106   132733       2
26      43   135088       2
27      43   132583       1
28      69   132608       2
29      69   132609       1
30      69   132613       1
31      30   132663       0
32      30   132665       0
33      30   132668       0
34      81   132630       1
35      22   132715       0
36      22   132717       0
37      81   132613       0
38      81   132594       0
39      81   132608       0
40      81   132609       0
41      81   132663       0
42      81   132560       0
43      59   132564       2
44      59   132717       2
45      59   132733       2
46      59   132740       1
47      14   135071       0
48     122   132733       1
49     122   132608       1

#**Ejercicio-2.**

In [47]:
# # obtenemos la factorizacion SVD de la matriz de usuario y lugar.
# R = usuario_rating.pivot(index = 'userID', columns ='placeID', values = 'rating').fillna(0)
# R_matrix = R.as_matrix()
# user_ratings_mean = np.mean(R_matrix, axis = 1)
# R_demeaned = R_matrix - user_ratings_mean.reshape(-1, 1)
# U, sigma, Vt = svds(R_demeaned, k = 50)
# sigma = np.diag(sigma)

In [60]:
X = usuario_rating.T
X.shape

(3, 1161)

In [63]:
SVD = TruncatedSVD(n_components=1160, random_state=17)
result = SVD.fit_transform(X)
result.shape

(3, 3)

In [62]:
SVD = TruncatedSVD(n_components=1160, random_state=1)  
SVD.fit(X)

num_sv = 2 # número de valores singulares a mostrar

print('Cantidad de información simplificada con los primeros %d vectores singulares:' % num_sv)
print('%.1f%%' %  (100 * (1- (SVD.singular_values_[0:num_sv]).sum() / (SVD.singular_values_).sum())))

Cantidad de información simplificada con los primeros 2 vectores singulares:
0.0%

#**Ejercicio-3.**

Subway 135021

In [64]:
num_sv = 10

SVD = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

(3, 3)

In [65]:
corrMx = np.corrcoef(resultant_matrix, )
corrMx.shape

(3, 3)

In [ ]:
me_gusta = "135021"

names = .columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

id_megusta

#**Ejercicio-4.**

In [ ]:
None

#**Ejercicio-5.**

In [ ]:
None

#**Ejercicio-6.**

In [ ]:
None

#**Ejercicio-7.**

In [ ]:
None

#**Ejercicio-8.**

In [ ]:
None

###**Fin de la Actividad de la semana 10 - Sistemas de Recomendación y Reducción de Dimensionalidad con SVD.**