#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 7**
###**Red Neuronal Artificial - Perceptrón Multicapa : Multilayer Perceptrón (MLP)**

**Nombres y matrículas de los integrantes del equipo:**

*   José Francisco Muñoz Del Angel - A01794174
*   
*   
*   
*

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [27]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import zipfile

from io import BytesIO

from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split 

from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler  
from sklearn.neural_network import MLPRegressor
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import power_transform
from sklearn.preprocessing import FunctionTransformer

from sklearn.dummy import DummyRegressor


from sklearn.pipeline import Pipeline

Citation Request:

   This dataset is public available for research. The details are described in (Moro et al., 2016).
   Please include this citation if you plan to use this database: 

   (Moro et al., 2016) S. Moro, P. Rita and B. Vala. Predicting social media performance metrics and evaluation 
   of the impact on brand building: A data mining approach. Journal of Business Research, Elsevier, In press.
 
   Available at: http://dx.doi.org/10.1016/j.jbusres.2016.02.010


1. Title: Facebook performance metrics

2. Sources
   Created by: Sérgio Moro, Paulo Rita and Bernardo Vala (ISCTE-IUL) @ 2016
   
3. Past Usage:

   The full dataset was described and analyzed in:

   S. Moro, P. Rita and B. Vala. Predicting social media performance metrics and evaluation of the impact on 
   brand building: A data mining approach. Journal of Business Research, Elsevier, In press, Available online 
   since 28 February 2016.

4. Relevant Information:

   The data is related to posts' published during the year of 2014 on the Facebook's page of a renowned cosmetics brand.
   This dataset contains 500 of the 790 rows and part of the features analyzed by Moro et al. (2016). The remaining were 
   omitted due to confidentiality issues.


5. Number of Instances: 500

6. Number of Attributes: 19

7. Attribute information:

   It includes 7 features known prior to post publication and 12 features for evaluating post impact (see Tables 2 and 3 
   from Moro et al., 2016 - complete reference in the "Citation Request")

8. Missing Attribute Values: None

#**Ejercicio-1.**

In [28]:
# Importación de datos
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00368/Facebook_metrics.zip'
r = requests.get(url)
buf1 = BytesIO(r.content)
with zipfile.ZipFile(buf1, "r") as f:
    for name in f.namelist():
        if name.endswith('.csv'):
            with f.open(name) as zd:
                df = pd.read_csv(zd, encoding='latin1', sep=';')
            break
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [29]:
# Renombramiento de columna.
df.rename(columns = {'Lifetime People who have liked your Page and engaged with your post':'LPE'}, inplace = True)
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,LPE,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [30]:
# Definimos nuestros datos de entrada y salida.                
X = df[['Category', 'Page total likes',    # Variables de entrada
        'Post Month', 'Post Hour',
        'Post Weekday', 'Paid']]         
Y = df[['LPE']]                            # Variable de salida

In [31]:
X, Y, cc = make_regression(n_samples=10000,   # total de observaciones a generar
                          n_features=8,       # número de factores a generar, tanto informativos, como redundantes
                          n_informative=4,    # número de factores informativos o independientes a generar
                          noise=0.5,          # desviación estándar del ruido gaussiano agregado a la variable de salida.
                          coef=True,          # nos regresa los coeficientes reales del modelo subyacente generado.
                          random_state=0      # semilla
                          )


print(X.shape, Y.shape)

(10000, 8) (10000,)

In [32]:
cc

array([ 0.        , 19.70974426, 81.80596544,  0.        , 14.19514662,
        0.        ,  0.        , 70.4253197 ])

#**Ejercicio-2.**

In [33]:
# Se realiza la particón de datos, en un grupo de 100 de prueba y 400 se repartirán entre entrenamiento y validación.
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size = 0.2, random_state = 7)
print(Xtrain.shape, ': Dimensión de datos de entrada para entrenamiento.')
print(Xtest.shape, ': Dimensión de datos de entrada para prueba.')  
print(Ytrain.shape, ': Dimensión de variable de salida para entrenamiento.')
print(Ytest.shape, ': Dimensión de variable de salida para prueba.')

(8000, 8) : Dimensión de datos de entrada para entrenamiento.
(2000, 8) : Dimensión de datos de entrada para prueba.
(8000,) : Dimensión de variable de salida para entrenamiento.
(2000,) : Dimensión de variable de salida para prueba.

#**Ejercicio-3.**

In [34]:
# Realizamos un modelo de regresión líneal para poder predecir un valor Y. 
LRmodel = LinearRegression()
LRmodel.fit(Xtrain, Ytrain)
Ypred = LRmodel.predict(Xtest)

# Calculo de MAE.
MAE = mean_absolute_error(Ytest, Ypred)
print("El valor de MAE es de ", MAE)

# Calculos de RMSE.
RMSE = np.sqrt(mean_squared_error(Ytest, Ypred))
print("El valor de RMSE es de ", RMSE)

# Calculo de MAPE.
MAPE = np.mean(np.abs((Ytest - Ypred) / Ytest)) * 100
print("El valor de MAPE es de ", MAPE)

El valor de MAE es de  0.39404541443211716
El valor de RMSE es de  0.49577966817256713
El valor de MAPE es de  2.1035604184601944

#**Ejercicio-4.**

In [35]:
# Transformaciones a factores cualitativos de entrada y salida:
#Se usa la mediana para imputar ya que se trata de variables numéricas en caso de que haya valores perdidos
numeric_pipeline = Pipeline(steps = [('impMediana', SimpleImputer(strategy='median')),                      # Medio de imputación media.
                                 ('escalaNum', MinMaxScaler(feature_range=(0,1)))])                         # Variables numéricas se colocan en rango.
numeric_pipeline_nombres = ['Page total likes', 'Post Month', 'Post Hour','Post Weekday', 'Paid', 'LPE']    # Transformacion de categóricas númericas/continuas.

# Transformaciones a factores categoricos de entrada:
#Se usa la moda para imputar ya que se trata de variables categóricas en caso de que haya valores perdidos
categ_pipeline = Pipeline(steps = [('impModa', SimpleImputer(strategy='most_frequent'))])                   #Datos perdidos categóricos se usa la moda.
categ_pipeline_nombres = ['Category']

Justificación:

In [36]:
columnasTransformer = ColumnTransformer(transformers = [('numpipe', numeric_pipeline, numeric_pipeline_nombres),        # Se juntan las transformaciones numéricas.
                                                        ('categpipe', categ_pipeline, categ_pipeline_nombres)],         # Se juntan las transformaciones categoricas.
                                        remainder='passthrough')

#**Ejercicio-5.**

In [ ]:
# Se hace un modelo Dummy con regresion para poderla comparar con el ejercicio 3. 
dummy_regr = DummyRegressor(strategy="mean")
dummy_regr.fit(Xtrain, Ytrain)
Ypred_dummy = dummy_regr.predict(Xtest)

# Calculo de MAE.
MAE = mean_absolute_error(Ytest, Ypred)
print("El valor de MAE es de ", MAE)

# Calculos de RMSE.
RMSE = np.sqrt(mean_squared_error(Ytest, Ypred))
print("El valor de RMSE es de ", RMSE)

# Calculo de MAPE.
MAPE = np.mean(np.abs((Ytest - Ypred) / Ytest)) * 100
print("El valor de MAPE es de ", MAPE)

#**Ejercicio-6.**

In [37]:
None

#**Ejercicio-7.**

In [38]:
None

#**Ejercicio-8.**

In [39]:
None

#**Ejercicio-9.**

In [40]:
None

#**Ejercicio-10.**

In [41]:
None

#**Ejercicio-11.**

In [42]:
None

#**Ejercicio-12.**

In [43]:
None

###**Fin de la Actividad de la semana 7.**