# **Maestría en Inteligencia Artificial Aplicada**
## **Curso: Inteligencia Artificial y Aprendizaje Automático**
### Tecnológico de Monterrey
### Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 10**
### **Reducción de Dimensionalidad - Descomposición en Valores Singulares (SVD) y Sistemas de Recomendación**

**Nombres y matrículas de los integrantes del equipo:**

* Elber Aguilar Pérez - A01793568
* José Francisco Muñoz Del Angel - A01794174
* Daniel Roberto Meneses León - A01794274
* David Mireles Samaniego - A01302935

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [83]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd
import numpy as np
from sklearn.decomposition import TruncatedSVD

from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

# **Ejercicio-1.**

In [84]:
# archive = "https://archive.ics.uci.edu/ml/machine-learning-databases/00232/RCdata.zip"
# resp = urlopen(archive)
# myzip = ZipFile(BytesIO(resp.read()))
# myzip.namelist()
# myzip.infolist

ratings_url="https://raw.githubusercontent.com/PosgradoMNA/IAAEquipo59/main/rating_final.csv?token=GHSAT0AAAAAABW3GV3I5XETEVXZID5CG3D2Y34FGOQ"
geoplaces_url="https://raw.githubusercontent.com/PosgradoMNA/IAAEquipo59/main/geoplaces2.csv?token=GHSAT0AAAAAABW3GV3I5XETEVXZID5CG3D2Y34FGOQ"
df_geo = pd.read_csv( geoplaces_url,encoding='latin-1', sep=',')
df_rat = pd.read_csv(ratings_url,encoding='latin-1', sep=',')

In [85]:
print ('Número de Usuarios: ', df_rat['userID'].unique().size)
print ('Número de restarurantes: ', df_geo['name'].unique().size)

Número de Usuarios:  138
Número de restarurantes:  129

In [86]:
# obtenemos el user_ID, name 
df_rat = df_rat[['userID', 'placeID', 'rating']]
df_geo = df_geo[['placeID', 'name']]

# unimos los dos dataframes
df = pd.merge(df_rat, df_geo, on='placeID')

# imprimimos el shape del dataframe

print('Tamaño matriz de utilidad: ', df.shape)

# imprimimos los primeros 10 registros
df.head(10)

Tamaño matriz de utilidad:  (1161, 4)

  userID  placeID  rating                    name
0  U1077   135085       2  Tortas Locas Hipocampo
1  U1108   135085       1  Tortas Locas Hipocampo
2  U1081   135085       1  Tortas Locas Hipocampo
3  U1056   135085       2  Tortas Locas Hipocampo
4  U1134   135085       2  Tortas Locas Hipocampo
5  U1116   135085       2  Tortas Locas Hipocampo
6  U1132   135085       2  Tortas Locas Hipocampo
7  U1120   135085       0  Tortas Locas Hipocampo
8  U1036   135085       2  Tortas Locas Hipocampo
9  U1084   135085       2  Tortas Locas Hipocampo

# **Ejercicio-2.**

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1161 entries, 0 to 1160
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userID   1161 non-null   object
 1   placeID  1161 non-null   int64
 2   rating   1161 non-null   int64
 3   name     1161 non-null   object
dtypes: int64(2), object(2)
memory usage: 45.4+ KB

In [88]:
# Generamos la matriz de utilidad y reemplazamos los valores NaN por 0

UtMx = df.pivot_table(values='rating', index='userID', columns='name', fill_value=0)

UtMx.head(10)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
# obtenemos el número de usuarios y restaurantes
UtMx.shape # vemos que tenemos 138 usuarios y 129 restaurantes

(138, 129)

In [90]:
# obtenemos la proporción de los datos no ceros

print('Total de elementos de la matriz de utilidad: %d' % (UtMx.size))
print('Total de elementos diferentes de cero: %d' % (np.count_nonzero(UtMx)))
print('Porcentaje de elementos diferentes de cero: %.1f%%' % (100 * np.count_nonzero(UtMx) / UtMx.size))

Total de elementos de la matriz de utilidad: 17802
Total de elementos diferentes de cero: 907
Porcentaje de elementos diferentes de cero: 5.1%

In [91]:
# Creamos la matrix de utilidad transpuesta 

X = UtMx.T
X.shape

(129, 138)

In [92]:
X.head(10)

userID,U1001,U1002,U1003,U1004,U1005,U1006,U1007,U1008,U1009,U1010,...,U1129,U1130,U1131,U1132,U1133,U1134,U1135,U1136,U1137,U1138
name,,,,,,,,,,,,,,,,,,,,,
Abondance Restaurante Bar,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Arrachela Grill,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cabana Huasteca,0,0,2,0,0,0,0,0,1,0,...,0,0,0,0,0,2,0,0,0,0
Cafe Chaires,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cafeteria cenidet,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cafeteria y Restaurant El Pacifico,0,0,0,2,2,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
Carls Jr,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Carnitas Mata Calle 16 de Septiembre,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Carreton de Flautas y Migadas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cenaduria El RincÃ³n de Tlaquepaque,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
# obtenemos el numero componentes principales

n_components = 137
svd = TruncatedSVD(n_components=n_components, random_state=1)
svd.fit(X)

# obtenemos la varianza explicada por cada componente principal

var_exp = svd.explained_variance_ratio_

# obtenemos la varianza acumulada

var_exp_cum = np.cumsum(var_exp)

In [94]:
# utilizando el número de componentes principales obtenido, creamos el modelo
num_sv = 137
svd = TruncatedSVD(n_components=num_sv, random_state=1)
resultant_matrix = svd.fit_transform(X)

# imprimimos el shape de la matriz resultante
resultant_matrix.shape

# creamos un dataframe con los componentes principales

df_comp = pd.DataFrame(resultant_matrix, index=X.index)
df_comp.head(5)

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
name,,,,,,,,,,,,,,,,,,,,,
Abondance Restaurante Bar,2.231529e-01,-3.351484e-01,9.257169e-01,-4.757121e-15,7.654577e-02,7.727232e-01,4.291144e-01,-4.259264e-01,1.299450e-01,8.697081e-02,...,-7.755781e-18,-6.397881e-03,1.128958e-02,-2.660192e-02,4.055880e-18,-5.726135e-03,-1.861259e-18,7.947495e-03,4.303628e-16,-5.567769e-32
Arrachela Grill,2.126413e-17,1.548696e-16,3.370921e-16,1.188052e-01,6.203637e-15,-1.110711e-16,1.273024e-16,-1.003181e-16,-1.469906e-16,3.439599e-17,...,-6.111039e-17,1.284765e-16,-4.328386e-16,2.193334e-16,-1.700456e-02,2.950235e-16,5.747029e-17,7.765984e-16,-7.110701e-17,-3.040080e-29
Cabana Huasteca,3.049484e+00,2.564812e+00,-4.808937e-01,-5.570589e-14,1.033046e+00,1.388744e+00,4.667691e-01,8.666118e-01,5.738046e-01,-1.522726e+00,...,5.232313e-17,4.901633e-02,9.998401e-03,-1.765735e-02,1.459136e-17,-6.973005e-03,-1.216604e-16,-2.015013e-03,-4.017773e-16,9.650845e-31
Cafe Chaires,1.233608e+00,1.646569e+00,6.684932e-01,7.909132e-14,-1.581105e+00,2.951126e-01,-2.725471e-01,5.710053e-01,2.521169e-01,1.208266e+00,...,2.686597e-17,2.046310e-02,-3.889850e-02,2.586656e-02,3.464194e-19,-1.154981e-02,1.317745e-16,1.052110e-02,6.574379e-16,-1.196891e-30
Cafeteria cenidet,-9.626466e-17,3.387860e-16,9.901909e-16,9.032935e-01,4.581005e-14,6.278453e-17,1.287336e-15,-3.781981e-16,-1.929497e-16,2.511606e-16,...,-2.357968e-16,2.345032e-18,-9.282980e-17,-1.385988e-16,1.244610e-02,-5.514917e-17,-3.690987e-16,-4.271255e-16,2.497009e-16,-7.576608e-30

In [95]:
# imprimos los valores singulares obtenidos

print('Valores singulares: ', resultant_matrix)

Valores singulares:  [[ 2.23152914e-01 -3.35148397e-01  9.25716874e-01 ...  7.94749489e-03
   4.30362805e-16 -5.56776893e-32]
 [ 2.12641296e-17  1.54869575e-16  3.37092072e-16 ...  7.76598426e-16
  -7.11070127e-17 -3.04008042e-29]
 [ 3.04948374e+00  2.56481245e+00 -4.80893676e-01 ... -2.01501322e-03
  -4.01777316e-16  9.65084474e-31]
 ...
 [ 8.68871858e-01  1.45545704e+00  1.81260610e+00 ...  3.94017886e-03
  -5.38889318e-17  1.95588582e-30]
 [ 3.58163270e-17 -2.59106999e-16  9.78291994e-17 ... -4.15957589e-16
  -3.14940821e-18  2.26621265e-29]
 [ 6.24968351e-17  6.15647324e-17  3.83836157e-17 ...  8.15949811e-16
  -1.47059464e-16 -1.14064164e-29]]

# **Ejercicio-3.**

In [96]:
# Definimos la matriz de correlación entre los componentes principales

corrMx = np.corrcoef(resultant_matrix)
corrMx.shape

(129, 129)

In [97]:
# Recomendaciones subway

restaurant = 'Subway'

names = UtMx.columns
name_list = list(names)
name_restaurant = name_list.index(restaurant)

name_restaurant

88

In [98]:
corr_recommendations = corrMx[name_restaurant]
print(corr_recommendations.shape)

# imprimimos top 10 restaurantes con mayor correlación

print('Top 10 restaurantes con mayor correlación con %s:' % restaurant)

for i in corr_recommendations.argsort()[::-1][:10]:
    if i == name_restaurant:
        continue
    print('  %s' % names[i], ' - ', corr_recommendations[i])

(129,)
Top 10 restaurantes con mayor correlación con Subway:
  Restaurant Teely  -  0.6095208746935299
  Vips  -  0.5062776799761097
  Rincon del Bife  -  0.4298238308559118
  Restaurant and Bar and Clothesline Carlos N Charlies  -  0.42546716890892405
  Sanborns Casa Piedra  -  0.417218501347936
  Mariscos Tia Licha  -  0.3881780018525811
  Chilis Cuernavaca  -  0.3010904910449602
  Mikasa  -  0.301002478549763
  Restaurant los Pinos  -  0.2851492197329672

In [99]:
list(names[(corr_recommendations > .25) & (corr_recommendations < 0.99)])

['Chilis Cuernavaca',
 'Mariscos Tia Licha',
 'Mikasa',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Restaurant los Pinos',
 'Rincon del Bife',
 'Sanborns Casa Piedra',
 'Vips']

# **Ejercicio-4.**

In [100]:

# obtenemos el número de componentes principales que explican el 90% de la varianza

n_components = np.where(var_exp_cum > 0.90)[0][0] + 1
print('Número de componentes principales que explican el 0.9 de la varianza: %d' % n_components)

Número de componentes principales que explican el 0.9 de la varianza: 51

In [101]:
# utilizando el número de componentes principales obtenido, creamos el modelo
num_sv_2 = 51
svd_2 = TruncatedSVD(n_components=num_sv, random_state=1)
resultant_matrix_2 = svd.fit_transform(X)

# imprimimos el shape de la matriz resultante
resultant_matrix.shape

# creamos un dataframe con los componentes principales

df_comp_2 = pd.DataFrame(resultant_matrix_2, index=X.index)
df_comp_2.head(5)

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
name,,,,,,,,,,,,,,,,,,,,,
Abondance Restaurante Bar,2.231529e-01,-3.351484e-01,9.257169e-01,-4.757121e-15,7.654577e-02,7.727232e-01,4.291144e-01,-4.259264e-01,1.299450e-01,8.697081e-02,...,-7.755781e-18,-6.397881e-03,1.128958e-02,-2.660192e-02,4.055880e-18,-5.726135e-03,-1.861259e-18,7.947495e-03,4.303628e-16,-5.567769e-32
Arrachela Grill,2.126413e-17,1.548696e-16,3.370921e-16,1.188052e-01,6.203637e-15,-1.110711e-16,1.273024e-16,-1.003181e-16,-1.469906e-16,3.439599e-17,...,-6.111039e-17,1.284765e-16,-4.328386e-16,2.193334e-16,-1.700456e-02,2.950235e-16,5.747029e-17,7.765984e-16,-7.110701e-17,-3.040080e-29
Cabana Huasteca,3.049484e+00,2.564812e+00,-4.808937e-01,-5.570589e-14,1.033046e+00,1.388744e+00,4.667691e-01,8.666118e-01,5.738046e-01,-1.522726e+00,...,5.232313e-17,4.901633e-02,9.998401e-03,-1.765735e-02,1.459136e-17,-6.973005e-03,-1.216604e-16,-2.015013e-03,-4.017773e-16,9.650845e-31
Cafe Chaires,1.233608e+00,1.646569e+00,6.684932e-01,7.909132e-14,-1.581105e+00,2.951126e-01,-2.725471e-01,5.710053e-01,2.521169e-01,1.208266e+00,...,2.686597e-17,2.046310e-02,-3.889850e-02,2.586656e-02,3.464194e-19,-1.154981e-02,1.317745e-16,1.052110e-02,6.574379e-16,-1.196891e-30
Cafeteria cenidet,-9.626466e-17,3.387860e-16,9.901909e-16,9.032935e-01,4.581005e-14,6.278453e-17,1.287336e-15,-3.781981e-16,-1.929497e-16,2.511606e-16,...,-2.357968e-16,2.345032e-18,-9.282980e-17,-1.385988e-16,1.244610e-02,-5.514917e-17,-3.690987e-16,-4.271255e-16,2.497009e-16,-7.576608e-30

In [102]:

# Definimos la matriz de correlación entre los componentes principales

corrMx_2 = np.corrcoef(resultant_matrix_2)
corrMx_2.shape

(129, 129)

In [103]:
# Recomendaciones subway

restaurant = 'Subway'

names_2 = UtMx.columns
name_list_2 = list(names)
name_restaurant_2 = name_list_2.index(restaurant)

name_restaurant_2

corr_recommendations_2 = corrMx[name_restaurant_2]
print(corr_recommendations_2.shape)

# imprimimos top 10 restaurantes con mayor correlación

print('Top 10 restaurantes con mayor correlación con %s:' % restaurant)

for i in corr_recommendations_2.argsort()[::-1][:10]:
    if i == name_restaurant_2:
        continue
    print('  %s' % names[i], ' - ', corr_recommendations_2[i])

(129,)
Top 10 restaurantes con mayor correlación con Subway:
  Restaurant Teely  -  0.6095208746935299
  Vips  -  0.5062776799761097
  Rincon del Bife  -  0.4298238308559118
  Restaurant and Bar and Clothesline Carlos N Charlies  -  0.42546716890892405
  Sanborns Casa Piedra  -  0.417218501347936
  Mariscos Tia Licha  -  0.3881780018525811
  Chilis Cuernavaca  -  0.3010904910449602
  Mikasa  -  0.301002478549763
  Restaurant los Pinos  -  0.2851492197329672

# **Ejercicio-5.**

In [104]:
restaurant = 'tacos de barbacoa enfrente del Tec'

names_2 = UtMx.columns
name_list_2 = list(names)
name_restaurant_2 = name_list_2.index(restaurant)

name_restaurant_2

corr_recommendations_2 = corrMx[name_restaurant_2]
print(corr_recommendations_2.shape)

# imprimimos top 10 restaurantes con mayor correlación

print('Top 10 restaurantes con mayor correlación con %s:' % restaurant)

for i in corr_recommendations_2.argsort()[::-1][:11]:
    if i == name_restaurant_2:
        continue
    print('  %s' % names[i], ' - ', corr_recommendations_2[i])

(129,)
Top 10 restaurantes con mayor correlación con tacos de barbacoa enfrente del Tec:
  vips  -  0.8171889849105274
  tacos abi  -  0.6653053654632709
  little pizza Emilio Portes Gil  -  0.6538492684416533
  Taqueria EL amigo   -  0.43718420842635713
  puesto de gorditas  -  0.4127645231848393
  Carreton de Flautas y Migadas  -  0.40779492018129654
  Little Cesarz  -  0.258479385426264
  palomo tec  -  0.19517408801078553
  Hamburguesas La perica  -  0.19112045068234976
  carnitas mata calle Emilio Portes Gil  -  0.17093947240845703

### Conclusiones

- Se puede observar una correlación positiva entre los tres primeros restaurantes Vips - 0.81, tacos abi - 0.66 y little pizza Emilio Portes Gil - 0.65, lo que indica que los usuarios que han visitado alguno de estos restaurantes también han visitado los otros dos.
- Para encontrar el top 10 de las correlaciones con "tacos de barbacoa enfrente del Tec" se utilizaron 51 componentes principales, que representan el 90% de la varianza de los datos.
- Se tienen 3 restaurantes con una correlación negativa baja cercana a cero, lo que nos puede indicar que son restaurantes con una oferta diferente a la ofrecida por el "tacos de barbacoa enfrente del Tec".

# **Ejercicio-6.**

In [105]:
# Importamos el dataset de usuarios con los campos food_rating
df_food_rating = pd.read_csv(ratings_url,encoding='latin-1', sep=',')
df_food_rating.head(5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [106]:

# obtenemos el user_ID, name 
df_food_rating = df_food_rating[['userID', 'placeID', 'food_rating']]
df_geo = df_geo[['placeID', 'name']]

# unimos los dos dataframes
df_1 = pd.merge(df_food_rating, df_geo, on='placeID')

# imprimimos el shape del dataframe

print('Tamaño matriz de utilidad: ', df_1.shape)

# imprimimos los primeros 10 registros
df_1.head(5)

Tamaño matriz de utilidad:  (1161, 4)

  userID  placeID  food_rating                    name
0  U1077   135085            2  Tortas Locas Hipocampo
1  U1108   135085            2  Tortas Locas Hipocampo
2  U1081   135085            2  Tortas Locas Hipocampo
3  U1056   135085            2  Tortas Locas Hipocampo
4  U1134   135085            1  Tortas Locas Hipocampo

In [107]:
# Generamos la matriz de utilidad y reemplazamos los valores NaN por 0

UtMx_1 = df_1.pivot_table(values='food_rating', index='userID', columns='name', fill_value=0)

# obtenemos la proporción de los datos no ceros

print('Total de elementos de la matriz de utilidad: %d' % (UtMx_1.size))
print('Total de elementos diferentes de cero: %d' % (np.count_nonzero(UtMx_1)))
print('Porcentaje de elementos diferentes de cero: %.1f%%' % (100 * np.count_nonzero(UtMx_1) / UtMx_1.size))

UtMx_1.head(3)

Total de elementos de la matriz de utilidad: 17802
Total de elementos diferentes de cero: 895
Porcentaje de elementos diferentes de cero: 5.0%

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0

In [108]:
# Creamos la matrix de utilidad transpuesta 

X_1 = UtMx_1.T
print(X_1.shape)

# utilizando el número de componentes principales obtenido, creamos el modelo
num_sv = 51
svd_1 = TruncatedSVD(n_components=num_sv, random_state=1)
resultant_matrix_1 = svd_1.fit_transform(X_1)

# imprimimos el shape de la matriz resultante
resultant_matrix_1.shape

# creamos un dataframe con los componentes principales

df_comp = pd.DataFrame(resultant_matrix_1, index=X_1.index)
df_comp.head(5)

# obtenemos la varianza acumulada
var_exp_1 = svd.explained_variance_ratio_
var_exp_cum_1 = np.cumsum(var_exp_1)

n_components_1 = np.where(var_exp_cum > 0.90)[0][0] + 1
print('Número de componentes principales que explican el 90 de la varianza: %d' % n_components_1)

# obtenemos la varianza explicada por cada componente principal



print('Varianza explicada por cada componente principal: %s' % var_exp_1)

(129, 138)
Número de componentes principales que explican el 90 de la varianza: 51
Varianza explicada por cada componente principal: [1.08614209e-01 6.83258974e-02 3.69839861e-02 3.40917867e-02
 3.81062335e-02 3.50585540e-02 3.14994974e-02 2.99743840e-02
 2.66619975e-02 2.55763738e-02 2.37591767e-02 2.21982834e-02
 2.17698759e-02 1.95644486e-02 2.04593467e-02 1.98296355e-02
 1.86189162e-02 1.73774042e-02 1.62132331e-02 1.54605899e-02
 1.38401288e-02 1.34542346e-02 1.33371278e-02 1.27223642e-02
 1.23426835e-02 1.16719170e-02 1.09920900e-02 1.04498557e-02
 1.03312756e-02 1.00801397e-02 9.92202586e-03 9.08905532e-03
 9.05656538e-03 8.81560167e-03 8.65145032e-03 8.63101323e-03
 8.53445680e-03 7.94272952e-03 7.45778359e-03 7.40720192e-03
 6.92958387e-03 6.87945419e-03 6.50218582e-03 6.72252250e-03
 6.50916528e-03 5.93825085e-03 5.92422601e-03 5.54802006e-03
 5.24331655e-03 5.02533991e-03 4.93838479e-03 4.54556312e-03
 4.37019282e-03 4.39475320e-03 4.27966613e-03 3.95499843e-03
 3.61820160e-03 3.47280084e-03 3.39623117e-03 3.32267592e-03
 3.03028776e-03 2.97047157e-03 2.94459324e-03 2.83927521e-03
 2.81722331e-03 2.68523706e-03 2.60300420e-03 2.43855924e-03
 2.30083016e-03 2.22651525e-03 2.00188930e-03 1.95347633e-03
 1.94754138e-03 1.82472611e-03 1.75670752e-03 1.67542444e-03
 1.66037020e-03 1.53561816e-03 1.43755654e-03 1.39653200e-03
 1.32326116e-03 1.21624892e-03 1.21112661e-03 1.13348338e-03
 1.02499295e-03 9.54991971e-04 9.45786208e-04 9.39966153e-04
 9.12216891e-04 8.10120314e-04 6.98598721e-04 6.39718681e-04
 6.36990872e-04 5.93550046e-04 5.98749476e-04 5.48922203e-04
 5.41602217e-04 5.28176060e-04 4.26679644e-04 4.06754483e-04
 3.77140969e-04 3.41600103e-04 3.22031636e-04 3.19419791e-04
 3.07740298e-04 2.85827892e-04 2.43704218e-04 1.84366689e-04
 1.56029197e-04 1.51284487e-04 1.32924828e-04 1.18654727e-04
 8.82580069e-05 7.93456633e-05 7.27287913e-05 6.78206852e-05
 5.43108568e-05 3.86730227e-05 3.63493438e-05 2.67847261e-05
 2.17356443e-05 1.88303947e-05 1.43095479e-05 5.56777083e-06
 5.51419654e-06 1.33425387e-06 8.73510514e-07 6.14477546e-33
 2.13522686e-59]

In [109]:
# Definimos la matriz de correlación entre los componentes principales

corrMx_1 = np.corrcoef(df_comp)
print(corrMx_1.shape)

# Recomendaciones subway

restaurant = 'Subway'

names_1 = UtMx.columns
name_list_1 = list(names)
name_restaurant_1 = name_list_1.index(restaurant)

corr_recommendations_1 = corrMx_1[name_restaurant_1]
print(corr_recommendations_1.shape)

# imprimimos top 10 restaurantes con mayor correlación

print('Top 10 restaurantes con mayor correlación con %s:' % restaurant)

for i in corr_recommendations_1.argsort()[::-1][:11]:
    if i == name_restaurant_1:
        continue
    print('  %s' % names_1[i], ' - ', corr_recommendations_1[i])

(129, 129)
(129,)
Top 10 restaurantes con mayor correlación con Subway:
  Restaurant Teely  -  0.9546853500959518
  Restaurant and Bar and Clothesline Carlos N Charlies  -  0.8913737071756432
  Rincon del Bife  -  0.8485229989419292
  Paniroles  -  0.5893330386086512
  Vips  -  0.5862108969519007
  Mariscos Tia Licha  -  0.47213525129926465
  Sanborns Casa Piedra  -  0.43364346485232863
  Mikasa  -  0.43290195151644684
  Restaurant Bar Coty y Pablo  -  0.42417666001388954
  Restaurant Las Mananitas  -  0.3416448243607499

### Conclusiones

- Se tiene una correlación positiva sobre 5 de los 9 restaurantes, mostrando una mejor correlación respecto al ejercicio anterior donde se utilizó la variable de rating.
- Los restaurantes con mayor correlación con Subway son los ubicados en la ciudad de Cuernavaca, rambience familiar y con un precios altos y medios.
- Se pude observar una mayor correlación entre Subway y los demas restaurantes si se toma como variable de correlación food_rating en lugar de rating.
- Para encontrar el top 10 de las correlaciones con "Subway" se utilizaron 51 componentes principales, que representan el 90% de la varianza de los datos.

# **Ejercicio-7.**

In [110]:
# Importamos el dataset de usuarios con los campos food_rating
df_service_rating = pd.read_csv(ratings_url,encoding='latin-1', sep=',')

# obtenemos el user_ID, name 
df_service_rating = df_service_rating[['userID', 'placeID', 'service_rating']]
df_geo = df_geo[['placeID', 'name']]

# unimos los dos dataframes
df_3 = pd.merge(df_service_rating, df_geo, on='placeID')

# imprimimos el shape del dataframe

print('Tamaño matriz de utilidad: ', df_3.shape)

# imprimimos los primeros 10 registros
df_3.head(5)

Tamaño matriz de utilidad:  (1161, 4)

  userID  placeID  service_rating                    name
0  U1077   135085               2  Tortas Locas Hipocampo
1  U1108   135085               1  Tortas Locas Hipocampo
2  U1081   135085               1  Tortas Locas Hipocampo
3  U1056   135085               2  Tortas Locas Hipocampo
4  U1134   135085               2  Tortas Locas Hipocampo

In [111]:
# Generamos la matriz de utilidad y reemplazamos los valores NaN por 0

UtMx_3 = df_3.pivot_table(values='service_rating', index='userID', columns='name', fill_value=0)

# obtenemos la proporción de los datos no ceros

print('Total de elementos de la matriz de utilidad: %d' % (UtMx_3.size))
print('Total de elementos diferentes de cero: %d' % (np.count_nonzero(UtMx_3)))
print('Porcentaje de elementos diferentes de cero: %.1f%%' % (100 * np.count_nonzero(UtMx) / UtMx_3.size))

UtMx_3.head(3)

Total de elementos de la matriz de utilidad: 17802
Total de elementos diferentes de cero: 846
Porcentaje de elementos diferentes de cero: 5.1%

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [112]:
# Creamos la matrix de utilidad transpuesta 

X_3 = UtMx_1.T
print(X_3.shape)

# utilizando el número de componentes principales obtenido, creamos el modelo
num_sv = 51
svd_3 = TruncatedSVD(n_components=num_sv, random_state=1)
resultant_matrix_3 = svd_3.fit_transform(X_3)

# imprimimos el shape de la matriz resultante
resultant_matrix_3.shape

# creamos un dataframe con los componentes principales

df_comp_3 = pd.DataFrame(resultant_matrix_3, index=X_3.index)
df_comp_3.head(5)

# obtenemos la varianza explicada por cada componente principal

var_exp_3 = svd.explained_variance_ratio_

# obtenemos la varianza acumulada

var_exp_cum_3 = np.cumsum(var_exp_3)

n_components_3 = np.where(var_exp_cum > 0.90)[0][0] + 1
print('Número de componentes principales que explican el 90 de la varianza: %d' % n_components_3)

print('Varianza explicada por cada componente principal: %s' % var_exp_3)

(129, 138)
Número de componentes principales que explican el 90 de la varianza: 51
Varianza explicada por cada componente principal: [1.08614209e-01 6.83258974e-02 3.69839861e-02 3.40917867e-02
 3.81062335e-02 3.50585540e-02 3.14994974e-02 2.99743840e-02
 2.66619975e-02 2.55763738e-02 2.37591767e-02 2.21982834e-02
 2.17698759e-02 1.95644486e-02 2.04593467e-02 1.98296355e-02
 1.86189162e-02 1.73774042e-02 1.62132331e-02 1.54605899e-02
 1.38401288e-02 1.34542346e-02 1.33371278e-02 1.27223642e-02
 1.23426835e-02 1.16719170e-02 1.09920900e-02 1.04498557e-02
 1.03312756e-02 1.00801397e-02 9.92202586e-03 9.08905532e-03
 9.05656538e-03 8.81560167e-03 8.65145032e-03 8.63101323e-03
 8.53445680e-03 7.94272952e-03 7.45778359e-03 7.40720192e-03
 6.92958387e-03 6.87945419e-03 6.50218582e-03 6.72252250e-03
 6.50916528e-03 5.93825085e-03 5.92422601e-03 5.54802006e-03
 5.24331655e-03 5.02533991e-03 4.93838479e-03 4.54556312e-03
 4.37019282e-03 4.39475320e-03 4.27966613e-03 3.95499843e-03
 3.61820160e-03 3.47280084e-03 3.39623117e-03 3.32267592e-03
 3.03028776e-03 2.97047157e-03 2.94459324e-03 2.83927521e-03
 2.81722331e-03 2.68523706e-03 2.60300420e-03 2.43855924e-03
 2.30083016e-03 2.22651525e-03 2.00188930e-03 1.95347633e-03
 1.94754138e-03 1.82472611e-03 1.75670752e-03 1.67542444e-03
 1.66037020e-03 1.53561816e-03 1.43755654e-03 1.39653200e-03
 1.32326116e-03 1.21624892e-03 1.21112661e-03 1.13348338e-03
 1.02499295e-03 9.54991971e-04 9.45786208e-04 9.39966153e-04
 9.12216891e-04 8.10120314e-04 6.98598721e-04 6.39718681e-04
 6.36990872e-04 5.93550046e-04 5.98749476e-04 5.48922203e-04
 5.41602217e-04 5.28176060e-04 4.26679644e-04 4.06754483e-04
 3.77140969e-04 3.41600103e-04 3.22031636e-04 3.19419791e-04
 3.07740298e-04 2.85827892e-04 2.43704218e-04 1.84366689e-04
 1.56029197e-04 1.51284487e-04 1.32924828e-04 1.18654727e-04
 8.82580069e-05 7.93456633e-05 7.27287913e-05 6.78206852e-05
 5.43108568e-05 3.86730227e-05 3.63493438e-05 2.67847261e-05
 2.17356443e-05 1.88303947e-05 1.43095479e-05 5.56777083e-06
 5.51419654e-06 1.33425387e-06 8.73510514e-07 6.14477546e-33
 2.13522686e-59]

In [113]:
# Definimos la matriz de correlación entre los componentes principales

corrMx_3 = np.corrcoef(resultant_matrix_3)
print(corrMx_3.shape)

# Recomendaciones subway

restaurant = 'Subway'

names_3 = UtMx.columns
name_list_3 = list(names_3)
name_restaurant_3 = name_list_3.index(restaurant)

corr_recommendations_3 = corrMx_3[name_restaurant_3]
print(corr_recommendations_3.shape)

# imprimimos top 10 restaurantes con mayor correlación

print('Top 10 restaurantes con mayor correlación con %s:' % restaurant)

for i in corr_recommendations_3.argsort()[::-1][:10]:
    if i == name_restaurant_3:
        continue
    print('  %s' % names_3[i], ' - ', corr_recommendations_3[i])

(129, 129)
(129,)
Top 10 restaurantes con mayor correlación con Subway:
  Restaurant Teely  -  0.9546853500959518
  Restaurant and Bar and Clothesline Carlos N Charlies  -  0.8913737071756432
  Rincon del Bife  -  0.8485229989419292
  Paniroles  -  0.5893330386086512
  Vips  -  0.5862108969519007
  Mariscos Tia Licha  -  0.47213525129926465
  Sanborns Casa Piedra  -  0.43364346485232863
  Mikasa  -  0.43290195151644684
  Restaurant Bar Coty y Pablo  -  0.42417666001388954

### Conclusiones

- Para encontrar el top 10 de las correlaciones con "Subway" se utilizaron 51 componentes principales, que representan el 90% de la varianza de los datos.

# **Ejercicio-8.**

Es apreciable debido a los análisis realizados con las variantes en las variables como **food_ratings**, place_rating y service_rating son variables fuertemente relacionas, ya que nos regresan ordenamiento de relacion similares entre si. Tambien se llego a la conclusion que se inicia con 137 componentes principales, luego de la primera ejecución de la función de recomendación se obtuvieron 51 componentes principales, que **representan el 90%** de la varianza de los datos.

Con base a las variables de **service_rating** y **food_rating** tienen una correlación positiva con con 5 restaurantes y una correlación negativa con 4 restaurantes, entregandonos resultados muy similares, mientras que la variable de rating presenta solo dos correlaciones positivas y 7 negativas.

Así mismo, en la comparación de los resultados entre dos diferentes tipos de establecimientos (Subway, Tacos de carnitas enfrente del Tec) podemos apreciar como el relacionamiento entre otros establecimiento por los usuarios esta dado mayoritariamente en parte por su ubicación geográfica.

### **Fin de la Actividad de la semana 10 - Sistemas de Recomendación y Reducción de Dimensionalidad con SVD.**